.login {
  &__info {
  }
  &__input {
  }
  &__err {
  }
  &__pswd {
    &__info {
    }
    &__input {
    }
  }
  &__lose {
    &__pswd {
    }
    &__link {
      background: linear-gradient(90.17deg, #e11720 -7.79%, #2ec0ee 91.79%);
    }
  }
  &__btn {
    background: linear-gradient(90.17deg, #e11720 -7.79%, #2ec0ee 91.79%);
    width: 291px;
    height: 49px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
      @include resetLinkSetFont;
      color: $color-white;
    }
  }
}
